<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增座席</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>

<body>
    <form id="add" class="layui-form" action="/agent" method="POST">
        <div style="width: 450px;margin: auto;">
            <table border="1" align="center" class="layui-table">
                <div class="layui-form-item">
                    <tr>
                        <td><label class="layui-form-label">输入座席工号: </label></td>
                        <div class="layui-input-block">
                            <td><input type="text" required lay-verify="required" autocomplete="off" name="work_id"
                                    class="layui-input" />
                            </td>
                        </div>
                    </tr>
                </div>
                <div class="layui-form-item">
                    <tr>
                        <td><label class="layui-form-label">输入名称: </label></td>
                        <td><input type="text" required lay-verify="required" autocomplete="off" name="name"
                                class="layui-input" /></td>
                    </tr>
                </div>
                <tr>
                    <td colspan="2" style="text-align: center;"><input type="submit"
                            class="layui-anim layui-anim-scaleSpring layui-btn" /></td>
                </tr>
            </table>
        </div>
    </form>
</body>

</html>